alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.1.1
APScheduler==3.6.3
argh==0.26.2
asgiref==3.2.10
asn1crypto==1.3.0
astroid==2.4.2
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bitarray==1.4.0
bkcharts==0.2
bleach==3.1.5
bokeh==2.1.1
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chromedriver-binary==85.0.4183.87.0
chromedriver-binary-auto==0.1
clarifai==2.6.2
click==7.1.2
cloudinary==1.25.0
cloudpickle==1.5.0
clyent==1.2.2
colorama==0.4.3
conda==4.9.2
conda-build==3.18.11
conda-package-handling==1.7.0+0.g7c4a471.dirty
conda-verify==3.4.2
configparser==3.8.1
contextlib2==0.6.0.post1
crayons==0.4.0
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.21
cytoolz==0.10.1
dask==2.20.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.1
distributed==2.20.0
dj-database-url==0.5.0
Django==2.2.17
django-allauth==0.41.0
django-appconf==1.0.4
django-cleanup==5.2.0
django-cloudinary-storage==0.3.0
django-cors-headers==3.7.0
django-crispy-forms==1.9.2
django-environ==0.4.5
django-heroku==0.0.0
django-imagekit==4.0.2
django-phone-field==1.8.1
django-phonenumber-field==5.0.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
docopt==0.6.2
docutils==0.16
EasyProcess==0.3
emoji==1.2.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fsspec==0.7.4
future==0.18.2
gevent==20.6.2
glob2==0.7
gmpy2==2.0.8
googleapis-common-protos==1.52.0
graphviz==0.15
greenlet==0.4.16
grpcio==1.35.0
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.1
icrawler==0.6.3
idna==2.10
image==1.5.32
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==1.7.0
install==1.3.3
instapy==0.6.13
intervaltree==3.0.2
ipykernel==5.3.2
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server==1.2.0
keyring==21.2.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
MeaningCloud-python==2.0.0
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msedge-selenium-tools==3.141.3
msgpack==1.0.0
multipledispatch==0.6.0
mysqlclient==2.0.3
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.18.5
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.5
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
Pillow==2.2.2
pip==21.0.1
pipenv==2020.8.13
pipreqs==0.4.10
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
plyer==2.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.7.0
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.5
pydocstyle==5.0.2
pydotplus==2.0.2
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==2.0.1
pylint==2.5.3
pylint-django==2.3.0
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pylint-plugin-utils==0.6
pyodbc==4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
python-telegram-bot==13.2
python3-openid==3.2.0
pythonanywhere==0.9.5
pytz==2020.1
PyVirtualDisplay==2.0
PyWavelets==1.1.1
pyxel==1.4.3
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.17.0
Rtree==0.9.4
ruamel-yaml==0.15.87
schedule==1.0.0
schema==0.7.2
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.5.0
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
setuptools==51.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.3
spyder==4.1.4
spyder-kernels==1.9.2
SQLAlchemy==1.3.20
sqlparse==0.3.1
statsmodels==0.11.1
stopwords==0.1.3
sympy==1.6.1
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
tweepy==3.10.0
typing-extensions==3.7.4.2
tzlocal==2.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
virtualenv==20.0.31
virtualenv-clone==0.5.4
watchdog==0.10.3
wcwidth==0.2.5
webdriver-manager==3.3.0
webdriverdownloader==1.1.0.3
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.34.2
whitenoise==5.2.0
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.11.2
WTForms==2.3.3
wurlitzer==2.0.1
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.30.0
yarg==0.1.9
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
