{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="hello w-100 text-center ml-2 mr-2">
  <img id="" src="/media/images/about.jpg" class="img-about" alt="about" />
  <h3 class="about">About</h3>
  <p>Adopt Animals is the web board for people who try to adopt pets and also helps people who want to adopt up their pets.<br> We're all about making fewer homeless pets and getting them into homes.
  </p>
  
  <h3 class="how_to_use">How to use?</h3>
  <h5 class="for_people_who_looking_for_pets">For people who is looking for pets</h5>
  <p>If you are looking for pets, search to find pets for adoption on the top page!<br> 
  Once you find animals, we don't intervene in any kinds of process<br>
  so please send a message to the pet owner for adoption and<br> 
  talk about how to proceed adoption process</p>
    
  <h5 class="for_people_who_looking_for_foster_homes">For people who is looking for foster homes</h5>
  <p>If you are looking look for foster homes, <br> 
  go to the "New Post" page and create a post with precise infomations.<br> 
  Once you recieve messages, please talk about how to proceed adoption process. <br>
  We don't intervene in any kind of process.
  </p>
</div>
{% endblock main %}