<form action="{% url 'adopt_animals:like' %}" method="POST" class="like_button">
  {% csrf_token %}
  {% if post.id in liked_list %}
  {% if user.is_authenticated %}
      <button id="like" name="{{post.id}}" type="button" data-href="{% url 'adopt_animals:like' %}" data-csrf="{{ csrf_token }}"><i class="fas fa-lg fa-heart like-red"></i></button>
  {% endif %}
  {% else %}
      <button id="like" name="{{post.id}}" type="button" data-href="{% url 'adopt_animals:like' %}" {% if not user.is_authenticated %} disabled {% endif %} data-csrf="{{ csrf_token }}"><i class="far fa-lg fa-heart"></i></button>      
  {% endif %}
</form>
<p name="{{post.id}}-count" class="count"> {{ post.like_set.count }} </p>