{% extends 'base.html' %}
{% load static %}
{% block js %}
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
<p class="hello w-100 text-right ml-2 mr-2">Hello {{ user.get_username }}! Send message to 
    {% if message_room.post.user == user %}
        {{ message_room.inquiry_user.username }}!
    {% else %}
        {{ message_room.post.user }}!
    {% endif %}
</p>
{% endif %}
<div class="col-md-10 offset-md-1 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
{% for message in message_list %}
    <ul class="p-0">
        <li>
            <div class="row comments mb-2">
                {% if message.message_user == user %}
                <div class="col-md-10 col-sm-10 col-10 comment rounded mb-2">
                    <h4 class="m-0">{{ message.message_user }}</a></h4>
                    <time class="text-color ml-3">{{ message.create_time }}</time>
                    <like></like>
                    <p class="mb-0 text-color">{{ message.message }}</p>
                </div>
                <div class="col-md-2 col-sm-2 col-2 text-center user-img px-0">
                    <img id="profile-photo" src="https://res.cloudinary.com/dl2blqao5/image/upload/v1624940253/media/images/icon_figure_l1edu5.png" class="rounded-circle" />
                </div>
                {% else %}
                <div class="col-md-2 col-sm-2 col-2 text-center user-img px-0">
                    <img id="profile-photo" src="https://res.cloudinary.com/dl2blqao5/image/upload/v1624940253/media/images/icon_figure_l1edu5.png" class="rounded-circle" />
                </div>
                <div class="col-md-10 col-sm-10 col-10 comment2 rounded mb-2">
                    <h4 class="m-0">{{ message.message_user }}</a></h4>
                    <time class="text-color ml-3">{{ message.create_time }}</time>
                    <like></like>
                    <p class="mb-0 text-color">{{ message.message }}</p>
                </div>
                {% endif %}
            </div>
        </li>
    </ul>
{% endfor %}
    <div class="chat-room-body w-100 text-center">
            <form action="{% url 'adopt_animals:message_room' message_room.id %}" method="POST" class="col-sm-6 offset-sm-3">
                    {% csrf_token %}
                    {{ form.errors }}
                        <div class="send-msg">
                            {{ form.message }}
                                <button class="btn btn-warning" type="submit">Send</button>
                        </div>
            </form>
    </div>
</div>

{% endblock main %}