{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
<h3 class="hello w-100 text-center ml-2 mr-2">My messages</h3>
<p class="hello w-100 text-right ml-2 mr-2">Hello {{ user.get_username }}!</p>
{% endif %}
<!-- 検索機能 -->
<!-- name="message"がViewのdef get_querysetの中の構文、
search_text = self.request.GET.get('message')の
messageを意味する -->
<div class="form w-100 text-right ml-2 mr-2">
    <form action="" method="get">
      <input class="form-control col-md-2" name="message" value="{{ request.GET.query_zipcode }}" type="text" placeholder="Name or Message">
      <button class="btn btn-warning form-control col-md-2" type="submit">Search</button>
    </form>
</div>

{% if not message_room_list %}
<p class="w-100 text-center ml-2 mr-2 each_page_to">No message room yet.</p>
{% else %}
<!-- 下記のmessage_room_listはViewのcontext_object_name = 'message_room_list'のmessage_room_listをさしている -->
{% for message_room in message_room_list %}
<div class="w-100 text-center ml-2 mr-2 each_page_to card">
    <!-- もしログインしているユーザーがAnimalsの投稿者であれば、inquiry_user（メッセージルーム作成者）の名前を表示させる -->
    {% if message_room.post.user == user %}
    <!-- align-items-centerで上下中央寄せ -->
    <div class="row align-items-center">
        <div class="col-6">
            <!-- <p>Room ID: {{ message_room.id }}</p> -->
            <!-- <a class="btn btn-primary" href="{% url 'adopt_animals:message_room' message_room.id %}" >Detail</a> -->
            <a href="{% url 'adopt_animals:message_room' message_room.id %}" class="messages">{{ message_room.get_last_message }}</a>
            <p>{{ message_room.update_time }}</p>
            <p>Inquiry user: {{ message_room.inquiry_user.username }}</p>
        </div>
        <div class="col-6 nopadding">
            <img class="my_messages_photo" src="{{ message_room.post.photo.url }}">
            <p>{{ message_room.post.name }}</p>
        </div> 
    </div>
    {% else %}
    <!-- その他（ログインしているユーザーがAnimalsの投稿者でない場合は、Animalsの投稿者の名前を表示させる） -->
    <div class="row align-items-center">
        <div class="col-6">
            <!-- <p>Room ID: {{ message_room.id }}</p> -->
            <!-- <a class="btn btn-primary" href="{% url 'adopt_animals:message_room' message_room.id %}" >Detail</a> -->
            <a href="{% url 'adopt_animals:message_room' message_room.id %}" class="messages">{{ message_room.get_last_message }}</a>
            <p>{{ message_room.update_time }}</p> 
            <p>Pet owner: {{ message_room.post.user }}</p>
        </div>
        <div class="col-6">
            <img class="my_messages_photo" src="{{ message_room.post.photo.url }}">
            <p>{{ message_room.post.name }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endif %}
<div class="form w-100 p-3">
    {% include "adopt_animals/pets/pagination.html" %}
</div>
{% endblock main %}