{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
<h1>Hello</h1>
<h2 class="">{{ user.get_username }}!</h2>
{% endif %}
{% if not message_room_list %}
<p>No message room yet.</p>
{% else %}
{% for message_room in message_room_list %}
<div>
    <!-- もしログインしているユーザーがAnimalsの投稿者であれば、inquiry_user（メッセージルーム作成者）の名前を表示させる -->
    {% if message_room.post.user == user %}
        {{ message_room.id }} {{ message_room.post.user }} {{ message_room.inquiry_user.username }}
        <a class="btn btn-primary" href="{% url 'adopt_animals:message_room' message_room.id %}" >Detail</a>
    {% else %}
    <!-- その他（ログインしているユーザーがAnimalsの投稿者でない場合は、Animalsの投稿者の名前を表示させる） -->
        {{ message_room.id }} {{ message_room.post.user }} {{ message_room.inquiry_user.username }}
        <a class="btn btn-primary" href="{% url 'adopt_animals:message_room' message_room.id %}" >Detail</a>
    {% endif %}
</div>
{% endfor %}
{% endif %}
{% endblock main %}