{% extends 'base.html' %}
{% block main %}
<p class="hello w-100 text-right ml-2 mr-2">Hello {{ user.get_username }}!</p>
<div class="form w-100 text-center ml-2 mr-2 each_page_top">
  <h2>Delete the post?</h2>
  <hr>
<h2 class="card-title">Title: {{ post.title }}</h2>
<p class="card-text">Name: {{ post.name }}</p>
<p class="card-text">Age: {{ post.age }}</p>
<p class="card-text">Weight: {{ post.weight }}</p>
<p class="card-text">Sex:
  {% if post.sex == 1 %}
  Male
  {% else %}
  Female
  {% endif %}
</p>
<p class="card-text">Name: {{ post.category }}</p>
<p class="card-text">State: {{ user.state }}</p>
<p class="card-text">Zipcode: {{ user.zipcode }}</p>
<p class="card-text">Story: {{ post.story }}</p>
<p class="card-text">Owener: {{ post.user }}</p>
<form method="post">
  {% csrf_token %}
  <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{% endblock %}