{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
<p class="hello w-100 text-right ml-2 mr-2">Hello {{ user.get_username }}!</p>
{% else %}
<p class="hello w-100 text-right ml-2 mr-2">Hello Guest!</p>
{% endif %}
<!-- 写真セクション -->

<!-- スライダーのメインコンテナの div 要素 -->
<div class="swiper-container w-100 text-center ml-2 mr-2 each_page_to" id="swiper01"> 
  <!-- ラッパーの（スライドを囲む） div 要素 -->
  <div class="swiper-wrapper"> 
    <!-- それぞれのスライドの div 要素 -->
    <div class="swiper-slide">
      <a href="{{ post.photo.url }}" data-lightbox="group">
        <img class="post_detail_page_photo" src="{{ post.photo.url }}" alt="">
      </a>
    </div>
    {% if post.photo2 %}
    <div class="swiper-slide">
      <a href="{{ post.photo2.url }}" data-lightbox="group">
        <img class="post_detail_page_photo" src="{{ post.photo2.url }}" alt="">
      </a>
    </div>
    {% endif %}
    {% if post.photo3 %}
    <div class="swiper-slide">
      <a href="{{ post.photo3.url }}" data-lightbox="group">
        <img class="post_detail_page_photo" src="{{ post.photo3.url }}" alt="">
      </a>
    </div>
    {% endif %}
    {% if post.photo4 %}
    <div class="swiper-slide">
      <a href="{{ post.photo4.url }}" data-lightbox="group">
        <img class="post_detail_page_photo"src="{{ post.photo4.url }}" alt="">
      </a>
    </div>
    {% endif %}
    {% if post.photo5 %}
    <div class="swiper-slide">
      <a href="{{ post.photo5.url }}" data-lightbox="group">
        <img class="post_detail_page_photo" src="{{ post.photo5.url }}" alt="">
      </a>
    </div>
    {% endif %}
  </div>
 
  <!-- ナビゲーションボタンの div 要素-->
  {% if post.photo2 or post.photo3 or post.photo4 or post.photo5 %}
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  {% endif %}

</div>
<!-- 写真セクションここまで -->

<!-- 文章セクション -->
<div class="card-body w-100 text-center ml-2 mr-2 each_page_to">
  <h2 class="card-title">{{ post.title }}</h2>
  <div class="row">
    <p class="card-text col-md-6">Name: {{ post.name }}</p>
    <p class="card-text col-md-6">Age: {{ post.age }}</p>
    <p class="card-text col-md-6">Weight(lbs): {{ post.weight }}</p>
    <p class="card-text col-md-6">Sex:
      {% if post.sex == 1 %}
      Male
      {% else %}
      Female
      {% endif %}
    </p>
    <p class="card-text col-md-6">Category: {{ post.category }}</p>
    <p class="card-text col-md-6">State: {{ post.user.state }}</p>
    <p class="card-text col-md-6">Zipcode: {{ post.user.zipcode }}</p>
    <p class="card-text col-md-6">Owner: {{ post.user }}</p>
  </div>
  <h4 class="card-text story">Story</h4><br>
  <p>{{ post.story }}</p>
  <div class="like-outer">
    {% include 'adopt_animals/pets/like.html' %}
  </div>
  <!-- ユーザーが投稿者でない場合で会員ユーザー（ログインしている）の場合、表示する -->
  {% if user.is_authenticated and not user == post.user %}
  <form action="{% url 'adopt_animals:post_detail' post.id %}" method="POST">
    {% csrf_token %}
    {{ form.errors }}
    <button class="btn btn-primary" type="submit">Message to {{ post.user }}</button>
  </form><br>
  {% endif %}
  <!-- もしユーザーが投稿者だった場合表示する  -->
  {% if user == post.user %}
  <a class="btn btn-info edit_this_post" href="{% url 'adopt_animals:post_update' post.id %}">Edit this post</a><br>
  <a class="btn btn-danger delete" href="{% url 'adopt_animals:post_delete' post.id %}">Delete</a><br>
  {% endif %}
  <a class="btn btn-primary back" href="{{request.META.HTTP_REFERER}}">Back</a>
  <!-- もしユーザーがログインしていなかったら -->
  {% if not user.is_authenticated %}
  <p class="not_yet_signup">Want to ask the owner something?</p>
  <a class="btn btn-primary" href="{% url 'accounts:accounts_signup' %}">Go to Signup page</a><br>
  {% endif %}
</div>
<!-- 文章セクションここまで -->


<!-- Swiper　post_detail.htmlフォトギャラリー用 -->
<!-- 下記参照
https://www.webdesignleaves.com/pr/plugins/swiper_js.html -->
{% if post.photo2 or post.photo3 or post.photo4 or post.photo5 %}
<script src="{% static 'js/swiper.min.js' %}"></script>
{% endif %}
{% endblock main %}