{% extends 'base.html' %}
{% block main %}
<div class="my-4">
  <h2>Post Update</h2>
</div>
<!-- enctype="multipart/form-data というのは基本的にテキストベースのデータのやり取りしかしないHTTP通信で色んなデータ(画像やエクセルファイル)も通信の対象に含めるいったものです。 -->
<form action="{% url 'adopt_animals:post_update' post.id %}" method="POST" enctype="multipart/form-data">
  <div class="container">
    {% csrf_token %}
    {{ form.errors }}
    <p class="title">Title</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.title }}</div>
    </div>
    <p class="title">Name</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.name}}</div>
    </div>
    <p class="title">Age</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.age }}</div>
    </div>
    <p class="title">Wight</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.weight }}</div>
    </div>
    <p class="title">Sex</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.sex }}</div>
    </div>
    <p class="title">Story</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.story }}</div>
    </div>
    <p class="title">Category</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.category }}</div>
    </div>
    <p class="title">Photo</p>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">{{ form.photo }}</div>
      <div class="col-8 col-lg-4">{{ form.photo2 }}</div>
      <div class="col-8 col-lg-4">{{ form.photo3 }}</div>
      <div class="col-8 col-lg-4">{{ form.photo4 }}</div>
      <div class="col-8 col-lg-4">{{ form.photo5 }}</div>
    </div>
    <button class="btn btn-warning" type="submit">Update</button>
</form>
{% endblock %}