{% extends 'base.html' %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock %}
{% block main %}
{% if user.is_authenticated %}
<h2 class="">Hello {{ user.get_username }}!</h2>
{% endif %}
<div class="card mb-4">
  <img src="{{ post.photo.url }}" alt="" class="card-img-top index-img" width="500">
  {% if post.photo2 %}
  <img src="{{ post.photo2.url }}" alt="" class="card-img-top index-img" width="500">
  {% endif %}
  {% if post.photo3 %}
  <img src="{{ post.photo3.url }}" alt="" class="card-img-top index-img" width="500">
  {% endif %}
  {% if post.photo4 %}
  <img src="{{ post.photo4.url }}" alt="" class="card-img-top index-img" width="500">
  {% endif %}
  {% if post.photo5 %}
  <img src="{{ post.photo5.url }}" alt="" class="card-img-top index-img" width="500">
  {% endif %}
</div>
<div class="card-body">
  <h2 class="card-title">Title: {{ post.title }}</h2>
  <p class="card-text">Name: {{ post.name }}</p>
  <p class="card-text">Age: {{ post.age }}</p>
  <p class="card-text">Weight: {{ post.weight }}</p>
  <p class="card-text">Sex:
    {% if post.sex == 1 %}
    Male
    {% else %}
    Female
    {% endif %}
  </p>
  <p class="card-text">Name: {{ post.category }}</p>
  <p class="card-text">State: {{ user.state }}</p>
  <p class="card-text">Zipcode: {{ user.zipcode }}</p>
  <p class="card-text">Story: {{ post.story }}</p>
  <p class="card-text">Owener: {{ post.user }}</p>
  <div class="like-outer">
    {% include 'adopt_animals/pets/like.html' %}
  </div>
  <!-- ユーザーが投稿者でない場合表示する -->
  {% if not user == post.user %}
  <form action="{% url 'adopt_animals:post_detail' post.id %}" method="POST" class="btn btn-primary">
    {% csrf_token %}
    {{ form.errors }}
    <button type="submit">Message to {{ post.user }}</button>
  </form><br>
  {% endif %}
  <!-- もしユーザーが投稿者だった場合表示する  -->
  {% if user == post.user %}
  <a class="btn btn-primary" href="{% url 'adopt_animals:post_update' post.id %}">Edit this post</a><br>
  <a class="btn btn-danger" href="{% url 'adopt_animals:post_delete' post.id %}">Delete</a><br>
  {% endif %}
  <a class="btn btn-primary" href="/">Top</a>
</div>
{% endblock main %}