@charset "utf-8";
/* CSS Document */

.hamburger-button {
  display: flex; /* media query時にはflexでもどして */
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  z-index: 1002;
  background-color:orange;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
}
.hamburger-button svg {
  height: 25px; /* autoではなく同じ数字で */
  width: 25px; /* autoではなく同じ数字で */
}
.hamburger-button path {
  fill: white;
}
.hamburger-nav {
  position: fixed;
  width: 100%;
  background-color:orange;
  z-index: 1001;
  padding: 20px;
  display: none;
}
#hamburger-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
}
/* * PC時には非表示 */
.hamburger-button {
  display: none;
}

@media screen and (max-width:480px) {
  .pc-class {
    display: none;
 } 
}

/* スマホ表示時 */
@media screen and (max-width:480px) {
  .hamburger-button {
    display: flex;
  }
}

/* .pc-class {
  margin-left: 65%;
} */