{% load widget_tweaks %}
<form method="post" class="form-vertical">
  <div class="form-group">
    {% csrf_token %}
    <label class="col-sm-3 control-label">
      <p>Username (not email)</p>
      {{ form.username|add_class:"form-control " }}</label
    >
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      <p>Password</p>
      {{ form.password|add_class:"form-control " }}</label
    >
  </div>
  <div class="form-group">
    <input type="submit" value="{{ submit_label }}" class="btn btn-primary" />
  </div>
</form>
