{% extends 'base.html' %}

{% block main %}

<h2>Login with Email Address</h2>
<form action="{% url 'login' %}" method="POST" novalidate>
  {% include "accounts/_form.html" with submit_label="Login" %}
</form>

<h2>Login with Socail Media Account</h2>
<ul>
  <li><a href="{% url 'social:begin' 'google-oauth2' %}">Google Account Login</a></li>
</ul>

<h2>Forget Password?</h2>
<ul>
  <a href="{% url 'accounts:password_reset' %}" class="btn btn-success btn-lg btn-block" >Reset Password</a>
</ul>

{% endblock %}