{% extends 'base.html' %}

{% block main %}
  <h2>SignUp</h2>
  <form action="{% url 'accounts:accounts_signup' %}" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
  </form>

  <h2>Socail media SignUp</h2>
  <ul>
    <li><a href="{% url 'social:begin' 'google-oauth2' %}">Google Signup</a></li>
  </ul>
  <a href="{% url 'index' %}">Home</a>
{% endblock %}