{% extends 'base.html' %}
{% block main %}
<div>
  <div class="header"><h3>Change User Info</h3></div>
  <form class="ui form" action="" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button class="" type="submit">Update</button>
  </form>
  <!-- ここでユーザーがGoogleアカウントでログインしている場合、パスワード変更のURLリンクは
  表示させないようにしている -->
  {% if user.has_usable_password %}
  <a class="" href="{% url 'accounts:password_change' user.username %}">Change Password</a><br>
  {% endif %}
  <a class="delete_user" href="{% url 'accounts:accounts_delete_user' user.username %}">Cancel Membership</a><br>
  <a href="/">TOP</a>
</div>
{% endblock %}