/* body {
  background:#FFDDFF;
} */

.navbar {
  background: pink;
  background: linear-gradient(#FAEBD7,#FFC7AF);
  box-shadow :0px 0px 10px silver;
}


.navbar-brand{
  font-weight: bold;
}

.black-text {
  color: black;
  }

.navbar-brand:link, .navbar-brand:visited, .navbar-brand:hover, .navbar-brand:active {
  color: black;
}

.navbar-nav:link, .navbar-nav:visited, .navbar-nav:hover, .navbar-nav:active{
  color: black;
}


.pc-class {
  margin-left: 65%;
}

/* index page css */

.hello {
  padding-top: 20px;
}

.search {
  padding: none;
  margin-top: 0;
  margin-bottom: 20px;
}

img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.form-control {
  display: inline-block;
  margin-bottom: 5px;
}

.card_bottum_owner {
  display: inline-block;
}

.like-outer {
  padding: 0;
  margin: 0;
}

.like_button {
  display: inline-block;
}

.count {
  padding-left: 10px;
  display: inline-block;
}

/* login page */
.each_page_to_login_page {
  padding-top: 30px;
}

.login_with_socail_media_account {
  margin-top: 30px;
}

.login_with_socail_media_account_btn{
  margin-top: 20px;
}

.forget_password_btn {
  margin-top: 20px;
}

.forget_password {
  margin-top: 30px;
}


/* profile page */
.phone-field-ext {
  display:none;
}

#id_phone_number_1 {
  display:none;
}

.update {
  margin-bottom: 10px;
}

.change_password {
  margin-bottom: 10px;
}

.each_page_top {
  margin-top: 30px;
}

.cancel_membership {
  margin-bottom: 10px;
}

.top {
  margin-bottom: 10px;
}

/* contact_form.html CSS */
.success {
  margin-bottom: 30px;
}

/* animals_post_form.html CSS */

.create_new_post {
  padding-top: 30px;
}

.submit_button_post_page {
  margin-top: 30px;
}

.filelabel{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel:hover{
  background-color: #004db1;
}

.fileinput{
  display: none;
}

.filelabel2{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel2:hover{
  background-color: #004db1;
}

.fileinput2{
  display: none;
}

.filelabel3 {
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel3:hover{
  background-color: #004db1;
}

.fileinput3 {
  display: none;
}

.filelabel4{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel4:hover{
  background-color: #004db1;
}

.fileinput4{
  display: none;
}

.filelabel5{
  display: inline-block;
  position: relative;
  background-color: #1877F2;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.filelabel5:hover{
  background-color: #004db1;
}

.fileinput5{
  display: none;
}


/* post_detail.html CSS  */

.story {
  margin-top: 20px;
}

.edit_this_post {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 40px 10px 40px;
}

.delete {
  margin-bottom: 10px;
  padding: 10px 65px 10px 65px;
}

.post_detail_page_photo {
  object-fit: cover;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ディスプレイによって写真の表示が変わる */
@media (max-width: 540px) {
  /* 横幅が320px以下の場合に適用するスタイル */
  .post_detail_page_photo {   
    width: 410px;
    height: 410px; 
  }
}

@media (max-width: 400px) {
  /* 横幅が320px以下の場合に適用するスタイル */
  .post_detail_page_photo {   
    width: 310px;
    height: 310px; 
  }
}

@media (max-width: 300px) {
  /* 横幅が320px以下の場合に適用するスタイル */
  .post_detail_page_photo {   
    width: 270px;
    height: 270px; 
  }
}






.request_form_page {
  color: black;
  transition: all  0.3s ease;
}

.request_form_page:hover {
  color: black;
  text-decoration:none; 
  background-color: #FFEEFF;
}

.waiting_response {
  color: black;
  transition: all  0.3s ease;
}

.waiting_response:hover {
  color: black;
  text-decoration:none;
  background-color: #FFEEFF;
}

.approved_request {
  color: black;
  transition: all  0.3s ease;
}

.approved_request:hover {
  color: black;
  text-decoration:none;
  background-color: #FFEEFF;
}

.declined_request {
  color: black;
  transition: all  0.3s ease;
}

.declined_request:hover {
  color: black;
  text-decoration:none;
  background-color: #FFEEFF;
}

.logout {
  color: black;
  transition: all  0.3s ease;
}

.logout:hover {
  color: black;
  text-decoration:none;
  background-color: #FFEEFF;
}


.nav-item {
  margin: 0px 10px 0px 0px;
}

.collapse.show {
  display: block;
}

footer {
  text-align: center;
  margin-top: 30px;
  background: linear-gradient(#FAEBD7,#FFC7AF);
  box-shadow :0px 0px 10px silver;
}

.footer {
  padding-top: 10px;
}

h1 {
  text-align:center;
}

form {
  margin-top: 20px;
}

p {
  margin-top: 16px;
  text-align:center;
  margin-top: 0; 
  margin-bottom: 1rem; 
}

.chose_supervisor_field {
  display: inline-block
}

/* employee.html */
.chose_supervisor {
  margin: 16px;
}

.request_date_from {
  margin: 16px;
}

.request_date_to {
  margin: 16px;
}

.note {
  margin: 16px;
}

.submit-request {
  margin: 16px;
}

.success {
  margin-top: 20px;
}
/* supervisor_page */

.supervisorpage {
  margin-top: 20px;
}

/* hr_page */

.hrpage {
  margin-top: 20px;
}

.approved_reqest_list {
  margin: 20px;
}

.declined_reqest_list {
  margin: 20px;
}

.request_detail {
  background: #FFFFCC;
  border-radius :8px;
  box-shadow :0px 0px 10px silver;
  padding: 10px 0px 10px 0px;
  margin: 20px;
}
/* list */

ul {
  list-style: none;
}

.request_list {
  background: #FFFFCC;
  border-radius :8px;
  box-shadow :0px 0px 10px silver;
  line-height: 1.5;
  padding: 10px 0px 10px 0px;
}

.break-word {
  word-wrap: break-word;
}

/* .pc-class {
  display: none;
}  */

@media screen and (min-width:480px) {
  .searchform {
    float: right;
  }
}

@media screen and (max-width:480px) {
  .searchform {
    justify-content: center;
  }
}
