{% extends 'base.html' %}
{% block main %}
{% if user.is_authenticated %}
<h1>Hello</h1>
<h2 class="">{{ user.get_username }}!</h2>
{% endif %}
<!-- {% for post in post_list %}
    <div class="card mb-4">
      <img src="{{ post.photo_resize.url }}" alt="" class="card-img-top index-img">
      <div class="card-body">
        <h2 class="card-title">{{ post.title }} <span class="small"> - {{ post.category }}</span></h2>
        <p class="card-text">{{ post.story|truncatechars:100 }}</p>
        <div class="btn btn-warning">Detail</div>
      </div>
      <div class="card-footer text-muted">
       <p>by {{ post.user}}</p>
      </div>
{% endfor %} -->
{% endblock main %}